body{
    background-color: #f5f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}
.flex-container{
    background-color: rgb(31, 247, 247);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;

}
.country{
     margin: 5px 0;
    width: 30%;
    height: 40px;
    padding: 0% 10px;
    border: #0df1ee solid 2px
}
.button{
    background-color:#0a1a3b;
    color: rgb(245, 246, 250);
    font-weight: bold;
    font-size: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

   


