body {
    background-color: rgb(240, 237, 237);
}
.nav-content {
        background-color: rgb(0, 0, 0);
        padding: 20pX;
        font-size: 20px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }
    .logo {
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: rgb(143, 128, 230);
        text-decoration: none;
    }
    .checkbox {
        padding: 30px;
        margin: 30;
    }
    .list {
        padding: 30px;
        margin: 20px;
        color: rgb(177, 127, 211);
        text-decoration: solid;
    }
    .title {
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .para {
        text-align: justify;
        width: 50vw;
        letter-spacing: 2px;
        line-height: -0.1;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
   .section{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    align-items: center;
   }
   .content{
    width: 50vw;
    padding-left:200px ;
   }
   .action-button {
  background-color: #000000;
    color: rgb(155, 126, 233);
    font-weight: bold;
    font-size: 15px;
    padding: 15px 40px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding-right: 50px;
   }
   .img-logo{
    
    margin: 20px;
    height: 300px;
    width: 350px;
   }
   
